<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.myapp.data.ProjectMapper">

    <insert id="addProject" parameterType="com.mycompany.myapp.domain.Project">
        insert into project(repo_url, sha, image_url, target_milestone, user_id,api_url) values
        (#{repoUrl},#{sha},#{imageUrl},#{targetMilestone},#{userId},#{apiUrl})
    </insert>
    <select id="getProjectByUserId" resultType="com.mycompany.myapp.domain.Project" resultMap="project">
        select * from project where user_id = #{userId}
    </select>

    <resultMap id="project" type="com.mycompany.myapp.domain.Project">
        <result column="repo_url" property="repoUrl"/>
        <result column="sha" property="sha"/>
        <result column="image_url" property="imageUrl"/>
        <result column="api_url" property="apiUrl"/>
        <result column="target_milestone" property="targetMilestone"/>
        <result column="user_id" property="userId"/>
    </resultMap>
</mapper>
